.featured{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.featured_shadowX{
    height: inherit;
    background: linear-gradient(to top, #141414 10%, transparent 90%);
}

.featured_shadowY{
    height: inherit;
    background: linear-gradient(to right, #141414 15%, transparent 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured_info_container{
    margin-top: -15%;
    margin-left: 2%;
}

.featured_name{
    font-size: 4em;
    font-weight: bold;
    animation: textSuave ease .4s;
}

.featured_info{
    margin-top: 15px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    animation: textSuave .4s .4s forwards;
    opacity: 0 ;
}

.featured_points{
    color: #46d369;
    margin-right: 15px;
}

.featured_year{
    margin-right: 15px;
}

.featured_description{
    margin-top: 15px;
    width: 35%;
    font-size: 18px;
    color: #999;
    animation: textSuave .4s .8s forwards;
    opacity: 0;

    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}

.featured_buttons{
    margin-top: 15px;
    display: flex;
    animation: textSuave .4s 1.2s forwards;
    opacity: 0;
}

.featured_geners{
    margin-top: 15px;
    font-size: 18px;
    color: #999;
    animation: textSuave .8s 1.6s forwards;
    opacity: 0;
}

@keyframes textSuave {
    0%{
    opacity: 0;
      transform: translateY(-50px);
    }

    100%{
      opacity: 1;
      transform: translateY(0);
    }
  
  }


@media(max-width: 768px) {

    .featured_info_container{
        margin-top: -25%;
    }

    .featured_name{
        font-size: 3.5em;
    }
    
    .featured_info{
        font-size: 18px;
    }

    .featured_description{
        width: 70%;
        font-size: 18px;
    }

    .featured_geners{
        margin-top: 25px;
        font-size: 18px;
    }
}

@media(max-width: 460px) {

    .featured_info_container{
        margin-top: -35%;
    }

    .featured_name{
        font-size: 2.8em;
    }

    .featured_info{
        font-size: 16px;
    }
    
    .featured_description{
        width: 90%;
        font-size: 16px;
    }

    .featured_geners{
        font-size: 16px;
    }
}