.Footer{
    background:  url(../../../midia/netflixbackground.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 24px;
    margin-top: 60px;
}

.shadow{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px 0;
}

.Footer p{
    padding-bottom: 15px;
}

.Footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.Footer ul li{
    margin-right: 20px;
    cursor: pointer;
    transition: all .3s;
}

.Footer ul li a{
    color: #fff;
    text-decoration: none;
}

.Footer ul li:hover{
    opacity: 0.7;
}

.Footer ul li:last-child{
    margin-right: 0px;
}

@media (max-width: 1200px) {
    .Footer{
        font-size: 20px;
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .Footer{
        font-size: 18px;
        margin-top: 60px;
    }
}

@media (max-width: 580px) {
    .Footer{
        font-size: 16px;
        margin-top: 60px;
    }
}