.movieBlock_container{
    width: 80%;
    margin-top: 2em;
    margin: auto;
}

.movieBlock_title{
    width: 100%;
    padding: 90px 0 40px 0;
}

.red_line{
    height: 10px;
    border-radius: 15px;
    width: 100%;
    background-color: red;
    box-shadow: 0 0 15px darkred;
    margin-bottom: 25px;
}

.movie_items_container{
    display: flex;
    flex-wrap: wrap;
}

.movie_item{
    width: 25%;
}

.movie_item:hover img{
    transform: scale(1);
    display: inline-block;
    overflow: hidden;

}

.movie_item img{
    width: 100%;
    transform: scale(0.9);
    transition: all 0.25s;
    cursor: pointer;
}

@media (max-width: 1920px) {
    .movieBlock_title{
        font-size: 2.8em;
    }
}

@media (max-width: 1200px) {
    .movieBlock_title{
        font-size: 2.2em;
    }
}

@media (max-width: 768px) {
    .movie_item{
        width: 33.33%;
    }

    .movieBlock_title{
        font-size: 1.7em;
    }

    .movieBlock_container{
        width: 90%;
    }
}

@media (max-width: 460px) {
    .movieBlock_title{
        font-size: 1.3em;
    }
}